.image-card {
    width: 470px;
    min-height: 370px;
    position: relative;
    background-image: url("../../images/dots.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 90%;
}