.objects {
    max-width: 1150px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .objects {
        max-width: 1150px;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .objects {
        max-width: 1150px;
        width: 80%;
    }
}