.header__line {
    background-image: url(../../../images/line-bg.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 8px;
    width: 900px;
    min-height: 800px;
    z-index: -1;
}

@media screen and (max-width: 1600px) {
    .header__line {
        top: -135px;
    }
}

@media (max-width: 1200px) {
    .header__line {
        display: none;
    }
}