.header__line {
    background-image: url(../../../images/line-bg.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 78px;
    width: 790px;
    min-height: 800px;
}