.callback__button {
    background-color: #ee2e2a;
    border: 0;
    color: #ffffff;
    padding: 10px;
    cursor:pointer;
    margin-top: 10px;
    transition: .5s;
    border-radius: 4px;
}

.callback__button:hover {
    background-color: #606062;
}