.image-card__image {
    max-width: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

@media screen and (max-width: 900px) {
    .image-card__image {
        max-width: 100%;
        min-height: auto;
        position: left ;
    }
}