.service__item {
    margin: 0;
    padding: 0;
}

.service__item:first-of-type {
    margin: 0;
    width: 180px;
}

@media screen and (max-width: 900px) {
    .service__item {
        margin: 0 0 0 50px;
    }
}