.service__item {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: min-content;
  gap: 20px 15px;
}

.service__item:first-of-type {
  margin: 0;
  width: 180px;
}

@media screen and (max-width: 600px) {
  .service__item {
    grid-template-rows: min-content max-content;
  }
}
