.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-height: 120px;
}

@media (max-width: 500px) {
    .menu {
        min-height: 70px;
    }
}

@media (max-width: 900px) {
    .menu {
        min-height: 90px;
    }
}